.uk-section,
.uk-container,
.uk-card {
    overflow: hidden;
}

.bg-transparent-white {
    background-color: rgba(255, 255, 255, 0.8);
}

.orange {
    color: #f7c51e !important;
}

.border-line-left {
    border-left: 4px solid #f7c51e;
}

.border-line-bottom {
    border-bottom: 4px solid #f7c51e;
}

.language-label {
    padding: 10px;
}

.big-numbers {
    font-size: 2em;
    font-weight: bolder;
}

.logo {
    width: 250px;
}

.logo-anim {
    width: 90%;
}

.border-blue {
    border-color: #2151a8;
}

.language-label-active {
    background-color: #FFB300;
    padding: 10px;
    color: #f8f8f8 !important;
}

.uk-padding-super-small {
    padding: 2px;
}

.uk-navbar-container {
    background: #222 !important;
    border-bottom: 4px solid #f7c51e;
}

.uk-navbar-nav {
    margin: -1px 0;
}

.uk-navbar-nav>li {
    z-index: 100;
    color: #fff;
    font-weight: 700;
    transform: skew(-25deg);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transition: 0.5s;
}

.uk-navbar-nav>li:hover {
    background-color: #f7c51e;
    transition: 0.5s;
}

.uk-navbar-nav>li>a {
    color: #fff;
    transform: skew(25deg);
    -webkit-transform: skew(25deg);
    -moz-transform: skew(25deg);
    -ms-transform: skew(25deg);
    -o-transform: skew(25deg);
}

.uk-navbar-nav>li>a:hover {
    color: #333333;
}

.uk-navbar-dropdown {
    padding: 0;
    transform: skew(25deg);
}

.uk-navbar-dropdown-nav>li>a {
    color: #0c0c0c94;
    padding: 15px;
    background-color: #f7c51e;
    border-top: 1px solid #e8b60f;
}

.uk-navbar-dropdown-nav>li>a:hover {
    color: #333333;
    background-color: #e8b60f;
}

.uk-light .uk-dotnav>*>* {
    background-color: rgba(255, 255, 255, 0.5);
}

.img-bg-opacity {
    opacity: 0.12;
    z-index: -1;
}

.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

#hamburger-menu>li {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
}

#hamburger-menu>li>a {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
}

#projects>ul>li>a {
    padding: 15px;
}

#permissions a {
    box-shadow: 0 0 0 1px rgba(33, 81, 168, 0.2);
}

#youtube:hover {
    color: #cc181e !important;
}

#facebook:hover {
    color: #3b5998 !important;
}

#linkedin:hover {
    color: #0077b5 !important;
}





/* Slider */

.slick-slide {
    display: table-cell !important;
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
    float: none;
    height: 100%;
    min-height: 50px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus,
.slide:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}